body {
    padding-top: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
}

@media screen and (min-width: 450px) {
    .restaurant-tile {
        margin-bottom: 20px;
        padding-top: 20px;
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .restaurant-tile {
        margin-bottom: 20px;
        padding-top: 20px;
        width: 33.3%;
    }
}

@media screen and (min-width: 1000px) {
    .restaurant-tile {
        margin-bottom: 20px;
        padding-top: 20px;
        width: 25%;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        width: 1300px;
        margin-right: auto;
        margin-left: auto;
    }
    .restaurant-tile {
        margin-bottom: 20px;
        padding-top: 20px;
        width: 20%;
    }
}

.restaurant-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}

h2 {
    font-size: 1.2em;
}

.name {
  width:50%;
  display: inline-block;
}

.description {}

.price {}

.editdeletepane{}

.flash {
  background: #cee5F5;
}

/*
h1,
h2,
h3,
h4 {
  color: #FFFFFF;
}

h1,
h2 {
  font-family: 'Georgia', serif; margin: 0;
}

h1 {
  border-bottom: 2px solid #eee;
}

h2 {
  font-size: 1.2em;
}

p,
dd,
dt {
  color: #CCCCCC;
}

a {
  text-decoration: none;
  color:#FFFFCC;
  font-size: .75em;
}

.pane {
  position:absolute;
  left: 25%;
  border: 2px solid;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  border-color: #999999;
  background-color: #333333
}

.header {
  left:50%;
  text-align: center;
}
*/