{% extends "layout.html" %}
{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href = '{{url_for('showRestaurants') }}'><< Back to restaurants</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='{{url_for('disconnect') }}'>Logout</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class = 'pane'>
        <h1> Are you sure you want to delete '{{item.name}}' restaurant? </h1>
        <form action="{{ url_for('deleteRestaurant',restaurant_id = restaurant_id)}}" method = 'post'>
            <input type='submit' value='Delete'>
            <a href = '{{url_for('showRestaurants')}}'> Cancel </a>
        </form>
    </div>
{% endblock %}