{% extends "layout.html" %}
{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href = '{{url_for('showMenu', restaurant_id = restaurant_id) }}'><< Back to Menu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='{{url_for('disconnect') }}'>Logout</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class = 'pane'>
        <h1> Are you sure you want to delete {{item.name}}? </h1>
        <form action="{{ url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id)}}" method = 'post'>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type='submit' value='Delete'>
            <a href = '{{url_for('showMenu', restaurant_id = restaurant_id)}}'> Cancel </a>
        </form>
    </div>
{% endblock %}