{% extends "layout.html" %}
{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href = '{{url_for('showMenu', restaurant_id = restaurant_id) }}'><< Back to Menu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='{{url_for('disconnect') }}'>Logout</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
	<div class = 'pane'>
		<form action="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'post'>
			<dl>
				<dt>Name:</dt>
					<dd><input type ='text' size='30' name='name' value = '{{item.name}}'></dd>
				<dt>Description:</dt>
					<dd><textarea name = 'description' rows='5' cols='40' placeholder = ''>{{item.description}}</textarea></dd>
				<dt>Price:</dt>
					<dd><input type = 'text' size = '8' name='price' value = '{{item.price}}'></dd>
				<dt>Course:</dt>
					<dd><input type ='radio' name='course' id="course1" value='Appetizer' {% if item.course == 'Appetizer'%}checked{%endif%}>Appetizer</dd>
	   				<dd><input type ='radio' name='course' id="course2" value='Entree' {% if item.course == 'Entree' %}checked{%endif%}>Entree</dd>
					<dd><input type ='radio' name='course' id="course3" value='Dessert' {% if item.course == 'Dessert'%}checked{%endif%}>Dessert</dd>
					<dd><input type ='radio' name='course' id="course4" value='Beverage' {%if item.course =='Beverage'%}checked{%endif%}>Beverage</dd>
				<dt>Url on img:</dt>
					<dd><input type = 'text' size = '20' name='img' value = '{{item.img}}'></dd>
			</dl>
			<input type='submit' value='Edit'>
			<a href = '{{url_for('showMenu', restaurant_id = restaurant_id)}}'> Cancel </a>
		</form>
	</div>
{% endblock %}