{% extends "layout.html" %}
{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href = '{{url_for('showRestaurants') }}'><< Back to restaurants</a></li>
            <li><a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Item</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='{{url_for('disconnect') }}'>Logout</a></li>
        </ul>
    </div>
{% endblock %}
{% block flash %}
    <div class = 'box flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
{% block content %}
    {% for i in items %}
        <div class="box restaurant-tile text-center">
            <img src="{{i.img}}">
            <h2 class = 'name'>{{i.name}}</h2>
            <div class = 'course'><strong>Course:</strong> {{i.course}}</div>
            <div class = 'price'><strong>Price:</strong> {{i.price}}</div>
            <div class = 'description'><strong>Description:</strong> {{i.description}}</div>
            <div class = "editdeletepane">
                <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}' >Edit</a>
                <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}' >Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}