{% extends "layout.html" %}
{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href = '{{url_for('showMenu', restaurant_id = restaurant_id) }}'><< Back to Menu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='{{url_for('disconnect') }}'>Logout</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class = 'pane'>
        <form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'post' enctype=multipart/form-data>
            <dl>
                <dt>Name:</dt>
                    <dd><input type ='text' size='30' name='name' placeholder = 'menu item name'></dd>
                <dt>Description:</dt>
                    <dd><textarea name = 'description' rows='5' cols='40' placeholder = 'menu item description'></textarea></dd>
                <dt>Price:</dt>
                    <dd><input type = 'text' size = '15' name='price' placeholder = 'menu item price'></dd>
                <dt>Course:</dt>
                    <dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>
                    <dd><input type ='radio' name='course' value='Entree'>Entree</dd>
                    <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
                    <dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
                <dt>Image:</dt>
                    <dd><input type = 'file' name='imgfile'></dd>
            </dl>
            <input type='submit' value='Create'>
            <a href = '{{url_for('showMenu', restaurant_id = restaurant_id)}}'> Cancel </a>
        </form>
    </div>
{% endblock %}