<html>
	<head>
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>Restaurants</title>
  		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>

		<div class="modal" id="trailer">
      		<div class="modal-dialog">
        		<div class="modal-content">
          			<a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true">
            			<img src="https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24"/>
          			</a>
          			<div class="scale-media" id="trailer-video-container">
          			</div>
        		</div>
      		</div>
    	</div>
    	<!-- Main Page Content -->
    	<div class="container">
      		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        		<div class="container">
          			<div class="navbar-header">
          				<a class="navbar-brand" href="#">{{ restaurant.name }} Menu</a>
          			</div>
        		</div>
      		</div>
    	</div>
    	<div class="container">
    		<div class = 'box flash'>
		    	{% with messages = get_flashed_messages() %}
      				{% if messages %}
          		        <ul>
        					{% for message in messages %}
            					<li> <strong> {{ message }} </strong> </li>
        					{% endfor %}
        				</ul>
        			{% endif %}
    			{% endwith %}
			</div>
			{% for i in items %}
      		<div class="box restaurant-tile text-center">
      			  <img src="{{i.img}}">
    			   	<h2 class = 'name'>{{i.name}}</h2>
    				  <div class = 'course'><strong>Course:</strong> {{i.course}}</div>
    				  <div class = 'price'><strong>Price:</strong> {{i.price}}</div>
    				  <div class = 'description'><strong>Description:</strong> {{i.description}}</div>
				  </div>
			{% endfor %}
    	</div>
	</body>
</html>