{% extends "layout.html" %}
{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href = '{{url_for('newRestaurant') }}'>Create New Restaurant</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='{{url_for('disconnect') }}'>Logout</a></li>
        </ul>
    </div>
{% endblock %}
{% block flash %}
	<div class = 'box flash'>
    	{% with messages = get_flashed_messages() %}
				{% if messages %}
  		        <ul>
					{% for message in messages %}
    					<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
{% endblock %}
{% block content %}
	{% for i in restaurants %}
		<div class="box restaurant-tile text-center">
			<a href='{{url_for('showMenu',restaurant_id = i.id)}}'><img src="{{i.img}}"></a>
		    <a href='{{url_for('showMenu',restaurant_id = i.id)}}'><h2>{{i.name}}</h2></a>
		    <div><strong>Address:</strong> {{i.address}}</div>
		    <div><strong>Phone:</strong> {{i.phone}}</div>
		    <div><strong>Cousine:</strong> {{i.cousine}}</div>
		    <div class = "editdeletepane">
			    <a href='{{url_for('editRestaurant',restaurant_id = i.id)}}' >Edit</a>
			    <a href='{{url_for('deleteRestaurant', restaurant_id = i.id)}}' >Delete</a>
		    </div>
	    </div>
	{% endfor %}
{% endblock %}